{:user                      "root"
 :password                  "password"
 :url                       "jdbc:h2:mem:h2db"
 :cleanDisabled             "false"
 :locations                 ["filesystem:./src/test/resources/database/"]}
